@{
    ViewBag.Title = "Condominios";
}

@section scripts
{
    <script>
        app.controller('panelBodyController', function ($scope) {

            $scope.streetList = @Html.Raw(ViewBag.StreetList);
                /* [{ name: 'black', shade: 'dark' },
            { name: 'white', shade: 'light' },
            { name: 'red', shade: 'dark' },
            { name: 'blue', shade: 'dark' },
            { name: 'yellow', shade: 'light' }];*/

            $scope.streetModel = $scope.streetList[0];
        });

    </script>

}


<br />
<div ng-app="DwellingApp">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Catálogo</div>

                <div class="panel-body" ng-controller="panelBodyController">

                    <select ng-model="streetModel" ng-options="loc as loc.name for loc in streetList"></select>

                    {{color}}

                </div>
            </div>
        </div>
    </div>
</div>
